body {
        background-color: #CCC;
        color: black;
        margin: 0;
}

div#top, div.contents, div.header {
        margin-bottom: 10px;
        padding-left: 12px;
        padding-right: 12px;
        margin-left: auto;
        margin-right: auto;
        width: 960px;
        background-image: none;
        background-color: white;
}

div#top, div.contents {
        background-color: white;
}

div#top {
        margin-bottom: 0px;
        padding-bottom: 0px;
}

div.contents {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 12px 12px 12px 12px;
        width: 960px;
}

div.header {
        margin-bottom: 0px;
        border-bottom: none;
}

div.headertitle {
        background-color: #F9FAFC;
        border-bottom: 1px solid #C4CFE5;
}

#titlearea {
        background-color: #4f9e2e;
        padding-bottom: 5px;
        padding-top: 0px;
}

h1,h2 {
    margin: 0 auto;
    padding: 12px 12px 12px 12px;
}

p, div.dynheader {
    margin: 0 auto;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

ul {
    margin: 0 auto;
    padding-right: 14px;
}

hr.footer {
        margin: 0 auto;
        width: 984px;
}

.footer {
        background-color: white;
}

address.footer {
        margin-left: auto;
        margin-right: auto;
        width: 972px;
}

div#navrow1.tabs {
        position: relative;
}

div.fragment {
    padding: 4px 12px;
    margin: 4px 0px 4px 0px;
}
